* {
  box-sizing: border-box;
}

html {
	height: 100%;
}

body {
	height: 100%;
	margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	background-image: radial-gradient(circle farthest-corner, rgba(71,56,41,0.4), transparent), url('./images/young_metro_bg.jpg');
}

#main {
	display: block;
	justify-content: center;
	align-items: center;
	height: 100%;
}

h1.question {
	text-transform: uppercase;	
	font-size: 24px;
  font-weight: 100;
  -webkit-font-smoothing: subpixel-antialiased;
  color: #82746a;
	/*text-shadow: 0px 10px 1px #342c25, 0px 20px 1px #2d281d;*/
	margin: 0;
	pointer-events: none;
}

h1.question.page1 {
	transform-origin: right center;
	position: absolute;
	top: 50%;
	margin: -0.5em 0 0 0;
	right: 50%;
	padding-right: 32px;
	animation-name: rotate;
	animation-duration: 40s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	opacity: 1;
	transition: opacity 1s;
}

@keyframes rotate {
  from {
    transform: rotate(-45deg); 
  }

  to {
		transform: rotate(315deg);
  }
}

body.withAnswer {
	height: auto;
}

body.withAnswer h1.question.page1 {
	opacity: 0;
}

body h1.question.page2 {
	opacity: 0;
	transition: opacity 1s;
	position: absolute;
	top: 10%;
	margin-right: -152px;
	right: 50%;
}

body.withAnswer h1.question.page2 {
	opacity: 1;
}

#theButton {
  height: 40px;
  width: 40px;
  border: 2px solid #d0c6be;
  border-radius: 20px;
  outline: 0;
  background-color: transparent;
  color: #fdecef;
  font-size: 24px;
  font-weight: 100;
  top: 50%;
  left: 50%;
  margin: -20px 0 0 -20px;
  position: absolute;
  text-shadow: none;
  box-shadow: none; 
  cursor: pointer;
  transition: top 1s, left 1s, text-shadow 0.3s, box-shadow 0.3s, margin 1s;
}

#theButton:hover, 
#theButton:focus {
	text-shadow: 0px 0px 4px #fdecef;
	box-shadow: inset 0px 0px 10px #fdecef, 0px 0px 10px #fdecef;
}

body.withAnswer #theButton {
	position: absolute;
	top: 10%;
	left: 50%;
  margin: -7px 0 0 163px;
}

#response {
  display: flex;
  justify-content: center;
	align-items: center;
  margin: 0;
}

#response p {
	color: #82746a;
  font-size: 30px;
  font-weight: 200;
  font-style: italic;
  display: block;
  opacity: 0;
  transition: opacity 1s 0.5s;
  pointer-events: none;
}

body.withAnswer #response {
  margin: 140px 10% 0 10%;
}

body.withAnswer #response p {
	opacity: 1;
}

#response p:before {
	content: '\201C';
}

#response p:after {
	content: '\201D';
}


@media (max-width: 780px) {
	#main {
		display: block;
		min-width: 320px
	}

	h1.question.page1 {
		position: absolute;
		display: block;
		animation-name: none;
		width: 100px;
		top: auto;
		left: auto;
		right: 50%;
		bottom: 50%;
		margin: 0 -50px 26px 0;
		padding: 0;
		word-spacing: 999999px;
		text-align: center;
	}

	#theButton {
	  position: absolute; 
	  top: 50%;
	  left: 50%;
	}

	body.withAnswer #main {
		display: block;
	}

	body.withAnswer h1.question.page1 {
		display: none;	
	}

	body.withAnswer #response p {
		display: block;
	}
}


@media (max-width: 530px) {
	body h1.question.page2 {
		top: 19px;
		right: 0;
		left: 50%;
		margin-left: -115px;
		max-width: 230px;
		text-align: center;
	}

	body.withAnswer #theButton {
		position: absolute;
		top: 3.5em;
		left: 50%;
	  margin: 0 0 0 -20px;
	}

	body.withAnswer #response p {
	  display: block;
	  text-align: center;
	}
}


@media (max-width: 320px) {
	#main {
		min-width: 320px
	}

	body h1.question.page2 {
		left: 45px;
		min-width: 230px;
		margin: 0;
	}

	body.withAnswer #theButton {
		left: 141px;
	  margin: 0;
	}

	body.withAnswer #response p {
	  display: block;
	  text-align: center;
	}
}







